/* COLOR PALETTE */
/* HTML BASICS */
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Asap', sans-serif;
  line-height: 1.15;
  color: #222221; }

.container {
  margin: 0 auto;
  padding: 0 15px; }

#app {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  min-height: 100vh; }

.app-enter {
  opacity: 0.01; }

.app-enter.app-enter-active {
  opacity: 1;
  transition: opacity 200ms ease-in; }

.app-leave {
  opacity: 1; }

.app-leave.app-leave-active {
  opacity: 0.01;
  transition: opacity 200ms ease-in; }

.app-appear {
  opacity: 0.01; }

.app-appear.app-appear-active {
  opacity: 1;
  transition: opacity 200ms ease-in; }

.icon {
  color: #222221;
  text-decoration: none; }

.float-left {
  float: left; }

.float-right {
  float: right; }

/* BUTTONS */
.btn {
  display: inline-block;
  font-weight: normal;
  line-height: 1.25;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.25rem 0.5rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  background: #EEEEEC; }

.btn:focus, .btn:hover {
  text-decoration: none;
  transform: scale(1.1); }

.btn:focus, .btn.focus {
  outline: 0;
  -webkit-box-shadow: 0 0 0 2px rgba(2, 117, 216, 0.25);
  box-shadow: 0 0 0 2px rgba(2, 117, 216, 0.25); }

.btn.disabled, .btn:disabled {
  cursor: not-allowed;
  opacity: .65; }

.btn:active, .btn.active {
  background-image: none; }

.btn-primary {
  background: #FFC943; }

/* FORMS */
form .formError {
  color: #C60034; }

/* NOT-LOGGED ALERTS */
.not-logged {
  text-align: center;
  overflow: auto;
  padding: 30px;
  flex: 1; }
  .not-logged span.icon {
    font-size: 3em;
    color: #FFC943; }

/* MODAL/POP-UP */
.modal {
  position: absolute;
  z-index: 1001;
  background: #fff;
  padding: 30px;
  box-shadow: 5px 5px 20px;
  border: 1px solid #EEEEEC;
  max-width: 80%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); }

.modal-close {
  float: right;
  padding: 5px 10px;
  border: 1px solid #fff;
  margin-right: -20px;
  margin-top: -20px;
  border-radius: 3px;
  color: #9C9C9B; }
  .modal-close:hover {
    border: 1px solid #EEEEEC; }

/* LOGGIN */
.modal-login {
  margin: 30px auto;
  width: 300px;
  border: 1px solid #EEEEEC; }
  .modal-login nav {
    border-bottom: 1px solid #EEEEEC;
    padding: 20px;
    text-align: center; }
    .modal-login nav button {
      color: #fff;
      margin: 0 5px; }
      .modal-login nav button > span.icon {
        font-size: 1em;
        color: #fff !important;
        margin-right: 5px; }
  .modal-login form {
    padding: 20px; }
    .modal-login form > * {
      display: block;
      margin: 0 auto;
      margin-bottom: 15px; }
  .modal-login .login-footer {
    padding-bottom: 20px;
    text-align: center; }
    .modal-login .login-footer p {
      margin: 0; }
    .modal-login .login-footer a {
      font-size: 80%;
      color: #222221; }

/* INDEX */
.index-container {
  background: #FFC943;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 1 auto; }
  .index-container .index-content {
    width: 250px;
    text-align: center; }
    .index-container .index-content h1 {
      text-transform: uppercase;
      padding-top: 50px; }
    .index-container .index-content h4 {
      font-weight: normal; }
    .index-container .index-content nav {
      display: flex;
      justify-content: space-around; }
      .index-container .index-content nav .btn {
        min-width: 120px;
        color: #222221; }

/* HEADER TOP BAR */
.top-menu {
  background: #EEEEEC;
  padding-top: 15px;
  padding-bottom: 15px;
  flex: 0 1 auto; }

.main,
.flex-main {
  flex: 1;
  padding-bottom: 30px; }

.header-content {
  display: flex;
  justify-content: space-between; }
  .header-content .logo {
    font-weight: bold;
    text-transform: uppercase; }

/* FOOTER */
footer {
  background: #222;
  color: #fff;
  padding: 5px;
  text-align: center;
  flex: 0 1 auto; }
  footer p {
    font-size: 70%; }

/* NAV-BAR */
.nav-bar {
  padding: 0;
  margin: 10px 0;
  list-style: none;
  display: flex;
  text-align: center; }
  .nav-bar .nav-item {
    width: 100px;
    margin-right: 5px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    color: #222221;
    text-decoration: none; }
    .nav-bar .nav-item:hover {
      background: #EEEEEC; }
  .nav-bar .nav-icon {
    width: 100%;
    font-size: 2em; }
  .nav-bar .nav-text {
    width: 100%;
    font-size: 0.8em; }

.flex-container {
  display: flex;
  flex-direction: row;
  max-width: 100%; }

.flex-child {
  width: calc(50% - 12px);
  margin-right: 20px; }
  .flex-child:last-child {
    margin-right: 0; }

/* STATS-BAR */
.stats {
  width: 100%;
  padding: 0;
  margin: 10px 0;
  list-style: none;
  display: flex; }
  .stats li {
    width: 25%;
    padding: 15px;
    color: #fff;
    margin-right: 20px;
    display: flex;
    justify-content: space-between; }
    .stats li:last-child {
      margin-right: 0 !important; }
    .stats li .icon {
      font-size: 2.5em;
      color: #fff; }
    .stats li .info {
      text-align: right; }
    .stats li .quantity {
      font-size: 2em; }
    .stats li .type {
      font-size: 0.7em; }
    .stats li.stats-incomplete {
      background: #C60034; }
    .stats li.stats-new {
      background: #0B9CCC; }
    .stats li.stats-complete {
      background: #00C692; }
    .stats li.stats-rewards {
      background: #FFC943; }
    .stats li.stats-ready {
      background: #FF2760; }
    .stats li.stats-selfgraded {
      background: #00C692; }
    .stats li.stats-totalassignments {
      background: #0B9CCC; }
    .stats li.stats-totalstudents {
      background: #FF8943; }

.dashboard-teacher .stats li {
  width: 50%; }

/* CONTENT */
.panel {
  margin-top: 10px;
  width: 100%;
  border: 1px solid #EEEEEC; }

.panel-header {
  background: #EEEEEC;
  padding: 5px;
  font-weight: bold; }

.panel-subheader {
  background: #fff;
  padding: 5px;
  border-bottom: 1px solid #EEEEEC; }

/* NOTIFICATIONS */
.notifications-list {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow-y: scroll;
  height: 150px;
  cursor: pointer; }
  .notifications-list .overdue {
    color: #C60034; }
  .notifications-list li {
    padding: 5px;
    border-bottom: 1px solid #EEEEEC; }
    .notifications-list li:hover {
      background: #EEEEEC;
      padding-left: 15px; }

/* CALENDAR */
.dashboard > .calendar {
  height: 350px;
  background: #4B4B4A; }

.panel-calendar {
  width: 100%; }

.calendar-content-sm {
  width: 100%;
  height: 350px; }

.calendar-content-max {
  width: 100% !important;
  height: 450px !important;
  border: 0; }

/* ASSIGNMENTS */
.dashboard {
  background: #fff; }
  .dashboard .assignments .panel-header {
    display: flex;
    justify-content: space-between; }
    .dashboard .assignments .panel-header select {
      font-weight: normal;
      font-size: 80%; }
  .dashboard .assignments-list {
    padding: 0;
    margin: 0;
    list-style: none; }
    .dashboard .assignments-list li {
      padding: 5px;
      border-bottom: 1px solid #EEEEEC;
      display: flex;
      justify-content: space-between;
      cursor: pointer; }
      .dashboard .assignments-list li:hover {
        background: #EEEEEC; }
      .dashboard .assignments-list li h3 {
        margin: 5px 0; }
      .dashboard .assignments-list li h4 {
        margin: 5px 0;
        font-size: 60%; }
      .dashboard .assignments-list li .snippet {
        margin: 5px 0;
        font-style: italic;
        font-size: 80%; }
      .dashboard .assignments-list li .due {
        text-align: center;
        margin-right: 15px; }
      .dashboard .assignments-list li .date {
        margin: 5px 0;
        font-size: 120%; }
    .dashboard .assignments-list a {
      text-decoration: none;
      color: #222221; }

.list-pending,
.list-inprogress,
.list-completed,
.list-archived {
  width: 25%; }

/* REPORT CARD */
.reportcard-content {
  border: 1px solid #EEEEEC; }
  .reportcard-content .card {
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #EEEEEC;
    width: 80%; }
    .reportcard-content .card h2 {
      margin-top: 0;
      margin-bottom: 10px; }
    .reportcard-content .card table {
      width: 100%;
      border: 1px solid #EEEEEC;
      border-spacing: 5px; }
      .reportcard-content .card table th {
        border: 1px solid #EEEEEC;
        padding: 5px;
        text-align: left;
        background: #EEEEEC; }
      .reportcard-content .card table td {
        width: 20%;
        border: 1px solid #EEEEEC;
        padding: 5px;
        text-align: right; }
        .reportcard-content .card table td.text {
          text-align: left; }

/* SETTINGS */
.settings-content fieldset {
  padding: 50px 35% 100px 35%; }

.settings-content input {
  margin-top: 5px;
  margin-bottom: 15px;
  border: 1px solid #9C9C9B;
  border-radius: 5px; }
  .settings-content input:disabled {
    background: #EEEEEC;
    color: #4B4B4A;
    font-style: italic; }

.settings-content .alert-inline {
  font-size: 70%;
  color: #C60034;
  margin: 0 5px; }

.settings-content button {
  background: #FFC943;
  margin-top: 20px auto 10px auto; }

/* QUIZZES */
.quiz {
  padding: 10px 30px; }
  .quiz .question-group {
    border: 1px solid #EEEEEC;
    padding: 10px;
    margin-bottom: 10px; }
    .quiz .question-group .inquiry {
      margin: 10px 0; }
    .quiz .question-group .inquiry-options {
      list-style: none;
      padding: 0; }
    .quiz .question-group .inquiry-option {
      margin-bottom: 5px; }
      .quiz .question-group .inquiry-option input {
        margin-right: 10px; }
      .quiz .question-group .inquiry-option .answer {
        font-size: 80%;
        text-transform: uppercase;
        padding: 2px 5px;
        color: #fff;
        border-radius: 5px;
        margin-left: 5px; }
        .quiz .question-group .inquiry-option .answer.answer-correct {
          background: #FFC943; }
        .quiz .question-group .inquiry-option .answer.answer-student-wrong {
          background: #C60034; }
        .quiz .question-group .inquiry-option .answer.answer-student {
          background: #00C692; }

.quiz-completed .inquiry-options {
  list-style: disc !important;
  margin-left: 19px !important; }

.quiz-completed-description {
  padding: 10px 30px;
  font-style: italic; }

/* STUDENT-TRACKER */
#student-tracker div.list-container {
  margin-left: 1%;
  margin-right: 1%; }
  #student-tracker div.list-container:first-child {
    margin-left: 2%; }
  #student-tracker div.list-container::last-child {
    margin-right: 2%; }

.kjauoa {
  margin: 1.6% !important;
  min-width: 20% !important; }

article[data-class="overdue"], article[data-class="overdue"]:hover {
  background: #C60034;
  color: #ffffff; }
  article[data-class="overdue"] div, article[data-class="overdue"]:hover div {
    background: #C60034;
    color: #ffffff; }

article[data-class="reminder"], article[data-class="reminder"]:hover {
  background: #FFC943; }
  article[data-class="reminder"] div, article[data-class="reminder"]:hover div {
    background: #FFC943; }

/* COLOR CLASSSES */
.bg-red {
  background: #C60034; }

.red {
  color: #C60034; }

.bg-yellow {
  background: #FFC943; }

.yellow {
  color: #FFC943; }

.bg-orange {
  background: #FF8943; }

.orange {
  color: #FF8943; }

.bg-blue {
  background: #0B9CCC; }

.blue {
  color: #0B9CCC; }

.bg-green {
  background: #00C692; }

.green {
  color: #00C692; }

/* TEACHER */
div.teacher-assignments {
  margin: 15px;
  margin-top: 30px;
  margin-bottom: 0px;
  padding: 2px; }

table.teacher-assignments, table.teacher-students {
  margin: 15px;
  margin-top: 30px;
  border: 3px solid #EEEEEC; }
  table.teacher-assignments tr, table.teacher-students tr {
    background: #EEEEEC; }
    table.teacher-assignments tr th, table.teacher-students tr th {
      text-align: center;
      background: #C60034;
      padding: 10px;
      color: #ffffff; }
    table.teacher-assignments tr td, table.teacher-students tr td {
      text-align: center;
      padding: 10px; }
    table.teacher-assignments tr td:first-child, table.teacher-assignments tr td:nth-child(2), table.teacher-students tr td:first-child, table.teacher-students tr td:nth-child(2) {
      width: 5%; }
    table.teacher-assignments tr td.options > *, table.teacher-students tr td.options > * {
      text-decoration: none;
      color: #fff;
      background: #C60034;
      font-size: 24pt;
      padding: 10px;
      padding-bottom: 5px;
      margin: 10px; }
    table.teacher-assignments tr td.options > *:hover, table.teacher-students tr td.options > *:hover {
      opacity: .7; }
    table.teacher-assignments tr td.options > *:first-child, table.teacher-students tr td.options > *:first-child {
      background: #0B9CCC; }
  table.teacher-assignments tr:nth-child(odd), table.teacher-students tr:nth-child(odd) {
    background: #ffffff; }

table.teacher-assignments {
  width: 50%;
  font-size: 10pt; }
  table.teacher-assignments td {
    width: 5% !important; }
  table.teacher-assignments td:nth-child(3), table.teacher-assignments td:nth-child(4) {
    text-align: left; }

table.teacher-students.fancy-colors tr {
  -webkit-transition: all 200ms;
  transition: all 200ms; }
  table.teacher-students.fancy-colors tr th {
    background: #C60034; }

table.teacher-students.fancy-colors tr:hover {
  background: #FFC943;
  -webkit-transition: all 200ms;
  transition: all 200ms; }
