/* COLOR PALETTE */
/* HTML BASICS */
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Asap', sans-serif;
  line-height: 1.15;
  color: #222221; }

.container {
  margin: 0 auto;
  padding: 0 15px; }

#app {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  min-height: 100vh; }

.disabled {
  color: #9C9C9B !important;
  cursor: default !important; }

.app-enter {
  opacity: 0.01; }

.app-enter.app-enter-active {
  opacity: 1;
  transition: opacity 200ms ease-in; }

.app-leave {
  opacity: 1; }

.app-leave.app-leave-active {
  opacity: 0.01;
  transition: opacity 200ms ease-in; }

.app-appear {
  opacity: 0.01; }

.app-appear.app-appear-active {
  opacity: 1;
  transition: opacity 200ms ease-in; }

.icon {
  color: #222221;
  text-decoration: none; }

input.normal {
  height: 25px;
  margin-right: 5px; }

select.normal {
  height: 30px;
  margin-right: 5px;
  width: 100%; }

.float-left {
  float: left; }

.float-right {
  float: right; }

/* BUTTONS */
.btn {
  display: inline-block;
  font-weight: normal;
  line-height: 1.25;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.25rem 0.5rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  background: #EEEEEC; }

.btn:focus, .btn:hover {
  text-decoration: none;
  transform: scale(1.1); }

.btn:focus, .btn.focus {
  outline: 0;
  -webkit-box-shadow: 0 0 0 2px rgba(2, 117, 216, 0.25);
  box-shadow: 0 0 0 2px rgba(2, 117, 216, 0.25); }

.btn.disabled, .btn:disabled {
  cursor: not-allowed;
  opacity: .65; }

.btn:active, .btn.active {
  background-image: none; }

.btn-primary {
  background: #FFC943; }

/* FORMS */
form .formError {
  color: #C60034; }

input.calendar-email {
  width: 30%;
  min-width: 320px;
  margin-right: 15px; }

/* NOT-LOGGED ALERTS */
.not-logged {
  text-align: center;
  overflow: auto;
  padding: 30px;
  flex: 1; }
  .not-logged span.icon {
    font-size: 3em;
    color: #FFC943; }

/* MODAL/POP-UP */
.modal {
  position: absolute;
  z-index: 1001;
  background: #FFFFFF;
  padding: 30px;
  box-shadow: 5px 5px 20px;
  border: 1px solid #EEEEEC;
  max-width: 80%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); }

.modal-close {
  float: right;
  padding: 5px 10px;
  border: 1px solid #FFFFFF;
  margin-right: -20px;
  margin-top: -20px;
  border-radius: 3px;
  color: #9C9C9B; }
  .modal-close:hover {
    border: 1px solid #EEEEEC; }

/* LOGGIN */
.modal-login {
  margin: 30px auto;
  width: 300px;
  border: 1px solid #EEEEEC; }
  .modal-login nav {
    border-bottom: 1px solid #EEEEEC;
    padding: 20px;
    text-align: center; }
    .modal-login nav button {
      color: #FFFFFF;
      margin: 0 5px; }
      .modal-login nav button > span.icon {
        font-size: 1em;
        color: #FFFFFF !important;
        margin-right: 5px; }
  .modal-login form {
    padding: 20px; }
    .modal-login form > * {
      display: block;
      margin: 0 auto;
      margin-bottom: 15px; }
  .modal-login .login-footer {
    padding-bottom: 20px;
    text-align: center; }
    .modal-login .login-footer p {
      margin: 0; }
    .modal-login .login-footer a {
      font-size: 80%;
      color: #222221; }

/* INDEX */
.index-container {
  background: #FFC943;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 1 auto; }
  .index-container .index-content {
    width: 300px;
    text-align: center; }
    .index-container .index-content .logo-home {
      width: 150px; }
    .index-container .index-content h1 {
      text-transform: uppercase; }
    .index-container .index-content h4 {
      font-weight: normal;
      font-size: 90%;
      margin-top: 5px;
      margin-bottom: 40px; }
    .index-container .index-content nav {
      display: flex;
      justify-content: space-around; }
      .index-container .index-content nav .btn {
        min-width: 120px;
        color: #222221; }

/* HEADER TOP BAR */
.top-menu {
  background: #EEEEEC;
  padding-top: 15px;
  padding-bottom: 15px;
  flex: 0 1 auto; }

.main,
.flex-main {
  flex: 1;
  padding-bottom: 30px; }

.header-content {
  display: flex;
  justify-content: space-between; }
  .header-content a {
    text-decoration: none;
    color: #222221;
    cursor: pointer; }
    .header-content a:hover {
      color: #FFC943; }
  .header-content .logo {
    text-transform: uppercase;
    line-height: 20px;
    display: flex;
    width: 60%; }
    .header-content .logo img, .header-content .logo span {
      max-height: 20px;
      display: inline-block; }
    .header-content .logo img {
      margin-right: 10px; }
  .header-content .classroom {
    font-style: italic; }

/* HOME */
/* FOOTER */
footer {
  background: #222;
  color: #FFFFFF;
  padding: 5px;
  text-align: center;
  flex: 0 1 auto; }
  footer p {
    font-size: 70%; }

/* NAV-BAR */
.nav-bar {
  padding: 0;
  margin: 10px 0;
  list-style: none;
  display: flex;
  text-align: center; }
  .nav-bar .nav-item {
    width: 100px;
    margin-right: 5px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    color: #222221;
    text-decoration: none; }
    .nav-bar .nav-item:hover {
      background: #EEEEEC; }
  .nav-bar .nav-icon {
    width: 100%;
    font-size: 2em; }
  .nav-bar .nav-text {
    width: 100%;
    font-size: 0.8em; }

.flex-container {
  display: flex;
  flex-direction: row;
  max-width: 100%; }

.flex-child {
  width: calc(50% - 12px);
  margin-right: 20px; }
  .flex-child:last-child {
    margin-right: 0; }

/* STATS-BAR */
.stats {
  width: 100%;
  padding: 0;
  margin: 10px 0;
  list-style: none;
  display: flex; }
  .stats li {
    width: 25%;
    padding: 15px;
    color: #FFFFFF;
    margin-right: 20px;
    display: flex;
    justify-content: space-between; }
    .stats li:last-child {
      margin-right: 0 !important; }
    .stats li .icon {
      font-size: 2.5em;
      color: #FFFFFF; }
    .stats li .info {
      text-align: right; }
    .stats li .quantity {
      font-size: 2em; }
    .stats li .type {
      font-size: 0.7em; }
    .stats li.stats-incomplete {
      background: #C60034; }
    .stats li.stats-new {
      background: #0B9CCC; }
    .stats li.stats-complete {
      background: #00C692; }
    .stats li.stats-rewards {
      background: #FFC943; }
    .stats li.stats-ready {
      background: #FF2760; }
    .stats li.stats-selfgraded {
      background: #00C692; }
    .stats li.stats-totalassignments {
      background: #0B9CCC; }
    .stats li.stats-totalstudents {
      background: #FF8943; }

.dashboard-teacher .stats li {
  width: 50%; }

/* CONTENT */
.panel {
  margin-top: 10px;
  width: 100%;
  border: 1px solid #EEEEEC; }

.panel-header {
  background: #EEEEEC;
  padding: 5px;
  font-weight: bold; }

.panel-subheader {
  background: #FFFFFF;
  padding: 5px;
  border-bottom: 1px solid #EEEEEC; }

/* NOTIFICATIONS */
.notifications-list {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow-y: scroll;
  height: 150px;
  cursor: pointer; }
  .notifications-list a {
    text-decoration: none;
    color: #222221; }
  .notifications-list .overdue {
    color: #C60034; }
  .notifications-list li {
    padding: 5px;
    border-bottom: 1px solid #EEEEEC; }
    .notifications-list li:hover {
      background: #EEEEEC;
      padding-left: 15px; }

/* CALENDAR */
.dashboard > .calendar {
  height: 350px;
  background: #4B4B4A; }

.panel-calendar {
  width: 100%;
  border: 0px; }

.calendar-content-sm {
  width: 100%;
  height: 350px;
  border: 0;
  border-top: 2px solid #9C9C9B;
  background: #9C9C9B;
  text-align: center; }
  .calendar-content-sm a {
    text-decoration: none;
    color: #222221; }
  .calendar-content-sm p {
    font-style: italic; }
  .calendar-content-sm button {
    margin-top: 15px; }

.calendar-content-max {
  width: 100% !important;
  height: 450px !important;
  border: 0;
  background: #9C9C9B; }
  .calendar-content-max p {
    padding-top: 50px;
    text-align: center;
    font-style: italic; }

/* ASSIGNMENTS */
.dashboard {
  background: #FFFFFF; }
  .dashboard .assignments .panel-header {
    display: flex;
    justify-content: space-between; }
    .dashboard .assignments .panel-header select {
      font-weight: normal;
      font-size: 80%;
      margin-left: 5px; }
  .dashboard .assignments-list {
    padding: 0;
    margin: 0;
    list-style: none;
    max-height: 80vh;
    overflow-y: auto; }
    .dashboard .assignments-list li {
      padding: 5px;
      border-bottom: 1px solid #EEEEEC;
      display: flex;
      justify-content: space-between;
      cursor: pointer; }
      .dashboard .assignments-list li:hover {
        background: #EEEEEC; }
      .dashboard .assignments-list li h3 {
        margin: 5px 0; }
      .dashboard .assignments-list li h4 {
        margin: 5px 0;
        font-size: 60%; }
      .dashboard .assignments-list li .snippet {
        margin: 5px 0;
        font-style: italic;
        font-size: 80%; }
      .dashboard .assignments-list li .due {
        text-align: center;
        margin-right: 15px; }
      .dashboard .assignments-list li .date {
        margin: 5px 0;
        font-size: 120%; }
      .dashboard .assignments-list li .status {
        color: #4B4B4A;
        font-style: italic;
        font-size: 80%; }
    .dashboard .assignments-list a {
      text-decoration: none;
      color: #222221; }
  .dashboard .signup h3 {
    text-align: center; }

.label-overdue {
  background: #C60034;
  color: #FFFFFF;
  padding: 0 3px;
  border-radius: 3px;
  font-size: 80%; }

.list-pending,
.list-inprogress,
.list-completed,
.list-archived {
  width: 25%; }

/* REPORT CARD */
.reportcard-content {
  border: 1px solid #EEEEEC; }
  .reportcard-content .card {
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #EEEEEC;
    width: 80%; }
    .reportcard-content .card h2 {
      margin-top: 0;
      margin-bottom: 10px; }
    .reportcard-content .card table {
      width: 100%;
      border: 1px solid #EEEEEC;
      border-spacing: 5px; }
      .reportcard-content .card table th {
        border: 1px solid #EEEEEC;
        padding: 5px;
        text-align: left;
        background: #EEEEEC; }
      .reportcard-content .card table td {
        width: 20%;
        border: 1px solid #EEEEEC;
        padding: 5px;
        text-align: right; }
        .reportcard-content .card table td.text {
          text-align: left; }

.teacher-reportcard {
  margin-top: 0px;
  background: #4B4B4A; }
  .teacher-reportcard .reportcard-content > .card {
    background: #FFFFFF; }

/* SETTINGS */
.settings-content .settings-form {
  display: flex; }
  .settings-content .settings-form img {
    border: 1px solid #9C9C9B;
    width: 60%; }

.settings-content fieldset {
  padding: 30px 25% 10px 25%;
  border: 0; }

.settings-content input {
  margin-top: 5px;
  margin-bottom: 15px;
  border: 1px solid #9C9C9B;
  border-radius: 5px; }
  .settings-content input:disabled {
    background: #EEEEEC;
    color: #4B4B4A;
    font-style: italic; }

.settings-content .alert-inline {
  font-size: 70%;
  color: #C60034;
  margin: 0 5px; }

.settings-content button {
  background: #FFC943;
  margin-top: 20px auto 10px auto; }

/* QUIZZES */
.quiz {
  padding: 10px 30px; }
  .quiz .question-group {
    border: 1px solid #EEEEEC;
    padding: 10px;
    margin-bottom: 10px; }
    .quiz .question-group .inquiry {
      margin: 10px 0; }
    .quiz .question-group .inquiry-options {
      list-style: none;
      padding: 0; }
    .quiz .question-group .inquiry-option {
      margin-bottom: 5px; }
      .quiz .question-group .inquiry-option input {
        margin-right: 10px; }
      .quiz .question-group .inquiry-option .answer {
        font-size: 80%;
        text-transform: uppercase;
        padding: 2px 5px;
        color: #FFFFFF;
        border-radius: 5px;
        margin-left: 5px; }
        .quiz .question-group .inquiry-option .answer.answer-correct {
          background: #FFC943; }
        .quiz .question-group .inquiry-option .answer.answer-student-wrong {
          background: #C60034; }
        .quiz .question-group .inquiry-option .answer.answer-student {
          background: #00C692; }

.quiz-completed .inquiry-options {
  list-style: disc !important;
  margin-left: 19px !important; }

.quiz-completed-description {
  padding: 10px 30px;
  font-style: italic; }

/* STUDENT-TRACKER */
#student-tracker div.list-container {
  margin-left: 1%;
  margin-right: 1%; }
  #student-tracker div.list-container:first-child {
    margin-left: 2%; }
  #student-tracker div.list-container::last-child {
    margin-right: 2%; }

section.kjauoa {
  margin: 1.6% !important;
  min-width: 20% !important; }
  section.kjauoa header span.ggHFfo {
    font-weight: bold; }

section.kjauoa:last-child {
  background: #9C9C9B; }
  section.kjauoa:last-child article {
    opacity: .5 !important; }

article[data-class="overdue"], article[data-class="overdue"]:hover {
  background: #C60034;
  color: #FFFFFF; }
  article[data-class="overdue"] div, article[data-class="overdue"]:hover div {
    background: #C60034;
    color: #FFFFFF; }

article[data-class="reminder"], article[data-class="reminder"]:hover {
  background: #FFC943; }
  article[data-class="reminder"] div, article[data-class="reminder"]:hover div {
    background: #FFC943; }

/* COLOR CLASSSES */
.bg-black {
  background: #222221; }

.black {
  color: #222221; }

.bg-light-grey {
  background: #EEEEEC; }

.light-grey {
  color: #EEEEEC; }

.bg-dark-grey {
  background: #4B4B4A; }

.dark-grey {
  color: #4B4B4A; }

.bg-red {
  background: #C60034; }

.red {
  color: #C60034; }

.bg-yellow {
  background: #FFC943; }

.yellow {
  color: #FFC943; }

.bg-orange {
  background: #FF8943; }

.orange {
  color: #FF8943; }

.bg-blue {
  background: #0B9CCC; }

.blue {
  color: #0B9CCC; }

.bg-green {
  background: #00C692; }

.green {
  color: #00C692; }

/* TEACHER */
div.teacher-assignments {
  margin: 15px;
  margin-top: 30px;
  margin-bottom: 0px;
  padding: 2px; }

.functions .options {
  text-align: center;
  padding: 20px; }
  .functions .options a {
    color: #222221;
    padding: 0 10px; }

.functions .teacher-assignments {
  padding: 15px; }
  .functions .teacher-assignments select {
    margin: 10px 10px 10px 0; }
  .functions .teacher-assignments .due-date-picker {
    margin: 10px 0;
    width: 50%; }
  .functions .teacher-assignments button.assign {
    margin-top: 25px;
    margin-left: 15px;
    width: 50%; }
  .functions .teacher-assignments label {
    padding-bottom: 10px; }

table.teacher-assignments, table.teacher-students {
  margin: 15px;
  margin-top: 15px;
  border: 3px solid #EEEEEC; }
  table.teacher-assignments tr, table.teacher-students tr {
    background: #EEEEEC; }
    table.teacher-assignments tr th, table.teacher-students tr th {
      text-align: center;
      background: #4B4B4A;
      padding: 10px;
      color: #FFFFFF; }
    table.teacher-assignments tr td, table.teacher-students tr td {
      text-align: center;
      padding: 10px; }
    table.teacher-assignments tr td:first-child, table.teacher-assignments tr td:nth-child(2), table.teacher-students tr td:first-child, table.teacher-students tr td:nth-child(2) {
      width: 5%; }
    table.teacher-assignments tr td.options > a, table.teacher-students tr td.options > a {
      text-decoration: none;
      color: #FFFFFF;
      background: #00C692;
      font-size: 24pt;
      padding: 10px;
      padding-bottom: 5px;
      margin: 10px;
      border-radius: 3px; }
    table.teacher-assignments tr td.options > #email, table.teacher-students tr td.options > #email {
      opacity: .7; }
    table.teacher-assignments tr td.options > #tracker, table.teacher-students tr td.options > #tracker {
      background: #FF8943; }
    table.teacher-assignments tr td.options > #delete, table.teacher-students tr td.options > #delete {
      background: #C60034; }
  table.teacher-assignments tr:nth-child(odd), table.teacher-students tr:nth-child(odd) {
    background: #FFFFFF; }

table.teacher-assignments {
  font-size: 0.85em; }
  table.teacher-assignments td {
    width: 5% !important; }
  table.teacher-assignments td:nth-child(3), table.teacher-assignments td:nth-child(4) {
    text-align: left; }

table.teacher-students.fancy-colors tr {
  -webkit-transition: all 200ms;
  transition: all 200ms; }
  table.teacher-students.fancy-colors tr th {
    background: #4B4B4A; }

table.teacher-students.fancy-colors tr:hover {
  background: #FFC943;
  -webkit-transition: all 200ms;
  transition: all 200ms; }

table.teacher-students {
  margin: 20px; }
  table.teacher-students .avatar {
    width: 100px; }
    table.teacher-students .avatar img {
      border: 1px solid #9C9C9B; }

#message-box {
  display: block;
  padding-top: 10px;
  height: 30px;
  margin-left: 18px;
  margin-right: 18px;
  text-align: center;
  background: #FFFFFF;
  border: 1px solid #EEEEEC; }

/* Chatbox */
#chatbox-container {
  position: fixed;
  bottom: 0px;
  right: 0px;
  z-index: 10;
  width: 350px;
  max-height: 100vh; }
  #chatbox-container .chatbox-panel {
    background: #fff;
    margin-right: 5px; }
    #chatbox-container .chatbox-panel .heading {
      padding: 5px;
      background: #0B9CCC !important;
      height: 30px;
      width: 335px; }
      #chatbox-container .chatbox-panel .heading #chatbox-title {
        color: #fff;
        position: relative;
        top: 4px;
        padding: 15px;
        padding-left: 5px;
        font-size: 14pt;
        font-weight: 700; }
      #chatbox-container .chatbox-panel .heading .show-chatbox {
        font-size: 24pt;
        background: none;
        height: 25px;
        width: 25px;
        position: absolute;
        right: 14px; }
    #chatbox-container .chatbox-panel .body {
      padding: 15px;
      overflow-y: scroll;
      max-height: 50vh;
      border: 1px solid #9C9C9B;
      background: #EEEEEC; }
      #chatbox-container .chatbox-panel .body ul.chat {
        list-style: none;
        margin: 0;
        padding: 0; }
        #chatbox-container .chatbox-panel .body ul.chat li {
          width: 100%;
          display: block;
          margin-bottom: 10px;
          padding-bottom: 5px;
          border-bottom: 1px dotted #B3A9A9; }
          #chatbox-container .chatbox-panel .body ul.chat li .chat-img {
            display: inline-block;
            clear: both; }
            #chatbox-container .chatbox-panel .body ul.chat li .chat-img img {
              border-radius: 50%;
              border: 2px solid #9C9C9B; }
          #chatbox-container .chatbox-panel .body ul.chat li .chat-body p {
            margin: 0px;
            color: #777777;
            word-wrap: break-word; }
        #chatbox-container .chatbox-panel .body ul.chat li.align-left {
          text-align: left !important; }
          #chatbox-container .chatbox-panel .body ul.chat li.align-left .chat-body {
            margin-left: 0px;
            margin-right: 60px;
            text-align: left !important; }
            #chatbox-container .chatbox-panel .body ul.chat li.align-left .chat-body p {
              text-align: left !important; }
        #chatbox-container .chatbox-panel .body ul.chat li.align-right {
          text-align: right !important; }
          #chatbox-container .chatbox-panel .body ul.chat li.align-right .chat-body {
            margin-left: 60px;
            margin-right: 0px;
            text-align: right !important; }
            #chatbox-container .chatbox-panel .body ul.chat li.align-right .chat-body p {
              text-align: right !important; }
        #chatbox-container .chatbox-panel .body ul.chat img {
          max-width: 50px; }
    #chatbox-container .chatbox-panel ::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      background-color: #F5F5F5; }
    #chatbox-container .chatbox-panel ::-webkit-scrollbar {
      width: 12px;
      background-color: #F5F5F5; }
    #chatbox-container .chatbox-panel ::-webkit-scrollbar-thumb {
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      background-color: #555; }
    #chatbox-container .chatbox-panel .footer {
      height: 81px;
      background: #4B4B4A; }
      #chatbox-container .chatbox-panel .footer input, #chatbox-container .chatbox-panel .footer select#recipient, #chatbox-container .chatbox-panel .footer button, #chatbox-container .chatbox-panel .footer #recipient-label {
        height: 25px;
        margin-top: 10px;
        margin-left: 10px; }
      #chatbox-container .chatbox-panel .footer input {
        position: relative;
        height: 16px;
        padding: 0.25rem 0.5rem;
        font-size: 1rem;
        border: 1px solid transparent;
        width: 308px; }
      #chatbox-container .chatbox-panel .footer #recipient-label {
        padding: 4px;
        color: #fff;
        width: 80px;
        height: 25px; }
      #chatbox-container .chatbox-panel .footer select#recipient {
        height: 25px;
        width: 110px; }
      #chatbox-container .chatbox-panel .footer button {
        position: relative;
        height: 25px;
        width: 65px;
        border-radius: 0px !important; }
      #chatbox-container .chatbox-panel .footer button:focus, #chatbox-container .chatbox-panel .footer button:hover {
        width: 65px;
        height: 25px; }

/* FAQ */
.faq-answer {
  padding: 15px; }

/* Grade Circle */
.arc text {
  font: 10px sans-serif;
  text-anchor: middle; }

.arc path {
  stroke: #fff; }

/* Tooltips */
.tooltip {
  position: relative; }
  .tooltip .tooltip-text {
    visibility: hidden;
    width: 90px;
    font-size: 12pt;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    left: -17px;
    top: 66px;
    z-index: 100; }
  .tooltip .tooltip-text.grade {
    top: -5px;
    left: -44px; }

.tooltip:hover .tooltip-text {
  visibility: visible; }

/* Grade View */
.grade-view {
  background: #FFFFFF;
  padding-bottom: 15px; }
  .grade-view .subject {
    overflow: hidden;
    background: #43B9FF;
    padding-bottom: 30px; }
    .grade-view .subject .subject-title {
      width: 100%;
      text-align: center;
      background: #EEEEEC;
      margin-bottom: 30px; }
  .grade-view .count-circle {
    text-align: center; }

/* Alert */
.alert {
  position: absolute;
  top: 9%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  background: #FFC943;
  padding: 20px; }
