@charset "UTF-8";

@font-face {
  font-family: "pegma-icons";
  src:url("pegma-icons.eot");
  src:url("pegma-icons.eot?#iefix") format("embedded-opentype"),
    url("pegma-icons.woff") format("woff"),
    url("pegma-icons.ttf") format("truetype"),
    url("pegma-icons.svg#pegma-icons") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "pegma-icons" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "pegma-icons" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-sign-out:before {
  content: "\61";
}
.icon-clipboard:before {
  content: "\62";
}
.icon-calendar:before {
  content: "\63";
}
.icon-calendar-check:before {
  content: "\64";
}
.icon-calendar-minus:before {
  content: "\65";
}
.icon-calendar-blank:before {
  content: "\66";
}
.icon-calendar-plus:before {
  content: "\67";
}
.icon-calendar-times:before {
  content: "\68";
}
.icon-cog:before {
  content: "\69";
}
.icon-star:before {
  content: "\6a";
}
.icon-archive:before {
  content: "\6b";
}
.icon-file-text-o:before {
  content: "\6c";
}
.icon-file-text:before {
  content: "\6d";
}
.icon-file-o:before {
  content: "\6e";
}
.icon-list-ul:before {
  content: "\6f";
}
.icon-trophy:before {
  content: "\70";
}
.icon-files:before {
  content: "\71";
}
.icon-external-link-square:before {
  content: "\72";
}
.icon-forward:before {
  content: "\73";
}
.icon-pencil-square:before {
  content: "\74";
}
.icon-users:before {
  content: "\75";
}
.icon-dashboard:before {
  content: "\76";
}
.icon-sign-in:before {
  content: "\77";
}
.icon-burst-new:before {
  content: "\78";
}
.icon-clock-o:before {
  content: "\79";
}
.icon-line-chart:before {
  content: "\7a";
}
.icon-error-circle:before {
  content: "\41";
}
.icon-error-triangle:before {
  content: "\42";
}
.icon-file:before {
  content: "\43";
}
.icon-hourglass-half:before {
  content: "\44";
}
.icon-graduation-cap:before {
  content: "\45";
}
.icon-file-alert:before {
  content: "\46";
}
.icon-file-check:before {
  content: "\47";
}
.icon-file-plus:before {
  content: "\48";
}
.icon-google-plus-square:before {
  content: "\4b";
}
.icon-facebook-square:before {
  content: "\49";
}
.icon-report-card:before {
  content: "\4a";
}
.icon-chat:before {
  content: "\4c";
}
.icon-mail:before {
  content: "\4d";
}
.icon-clock-alarm:before {
  content: "\4e";
}
.icon-paper-clip:before {
  content: "\4f";
}
.icon-angle-double-up:before {
  content: "\50";
}
.icon-angle-double-down:before {
  content: "\51";
}
.icon-delete:before {
  content: "\52";
}
.icon-refresh:before {
  content: "\53";
}
