<!doctype html>
<html class="no-js" lang="">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="apple-touch-icon" href="apple-touch-icon.png">
  <link href="https://fonts.googleapis.com/css?family=Asap:400,400i,700" rel="stylesheet">
  <link rel="stylesheet" href="../css/normalize.min.css">
  <link rel="stylesheet" href="../fonts/icons.css">
  <link rel="stylesheet" href="../css/style.css">

    <!-- <script src="js/vendor/modernizr-2.8.3.min.js"></script> -->
</head>
<body>
  <!--[if lt IE 8]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->

  <div id="app">
    
    <section class="index-container">
      <div class="index-content">
        <h1>Pegma</h1>
        <h4>Subtitle comes here</h4>
        <nav>
          <button class="btn btn-login">Log in</button>
          <button class="btn btn-signup">Sign up</button>
        </nav>
      </div>
    </section>

    <div class="modal modal-home">
      <div class="modal-close">x</div>
      <div class="modal-content">
        <div class="modal-login">

          <nav>
            <button class="btn bg-blue"><span class="icon icon-facebook-square"></span>Facebook</button>
            <button class="btn bg-green"><span class="icon icon-google-plus-square"></span>Google</button>
          </nav>
          <form>
            <input name="username" placeholder="e-mail" />
            <input name="password" type="password" placeholder="password" />
            <input className="btn btn-primary" type="submit" value="Login" />
          </form>

          <div class="login-footer">
            <p><a href="#">Forgot Password?</a></p>
            <p><a to="/signup">Create account</a></p>
          </div>

        </div>
      </div>
    </div>

    <footer>
      <div class="container footer-content">
        <p>© Pegma 2017</p>    
      </div>
    </footer>
  </div> <!-- /app -->

    <!-- <script src="js/main.js"></script> -->
</body>
</html>
