<!doctype html>
<html class="no-js" lang="">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="apple-touch-icon" href="apple-touch-icon.png">
  <link href="https://fonts.googleapis.com/css?family=Asap:400,400i,700" rel="stylesheet">
  <link rel="stylesheet" href="../css/normalize.min.css">
  <link rel="stylesheet" href="../fonts/icons.css">
  <link rel="stylesheet" href="../css/style.css">

    <!-- <script src="js/vendor/modernizr-2.8.3.min.js"></script> -->
</head>
<body>
  <!--[if lt IE 8]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->

  <div id="app">
    <header class="top-menu">
      <div class="container header-content">
        <div class="logo">Pegma</div>
        <div class="user-information">Hello, John Smith <a href="#" class="icon icon-sign-out"></a></div>
      </div>
    </header>

    <div class="main">

      <nav class="container nav-content">
        <ul class="nav-bar">
          <li class="nav-item">
            <span class="nav-icon icon-clipboard"></span>
            <a class="nav-text" href="student-tracker.html">Assignments</a>
          </li>
          <li class="nav-item">
            <span class="nav-icon icon-calendar"></span>
            <a class="nav-text" href="student-calendar.html">Calendar</a>
          </li>
          <li class="nav-item">
            <span class="nav-icon icon-cog"></span>
            <a class="nav-text" href="student-settings.html">Settings</a>
          </li>
        </ul>
      </nav>

      <div class="dashboard">
        <div class="container panel-container">

          <div class="flex-container">

            <section class="flex-child panel reportcard">
                <div class="panel-header">Report Card</div>
                <div class="reportcard-content">
                  <div class="card">
                    <h2>Student: Beatrice Beets</h2>
                    <h3>Teacher: Mr. Mango</h3>
                    <table>
                      <tr>
                        <th class="text">Subject</th> 
                        <th>Graded Assignments</th> 
                        <th>Total Assignments</th>
                        <th>Partial Grade</th>
                        <th>Final Grade</th>
                      </tr>
                      <tr>
                        <td class="text">English</td>
                        <td>80</td> 
                        <td>4</td>
                        <td>5</td>
                        <td>80</td>
                      </tr>
                      <tr>
                        <td class="text">Math</td>
                        <td>80</td> 
                        <td>4</td>
                        <td>5</td>
                        <td>80</td>
                      </tr>
                      <tr>
                        <td class="text">Science</td>
                        <td>80</td> 
                        <td>4</td>
                        <td>5</td>
                        <td>80</td>
                      </tr>
                      <tr>
                        <td class="text">Astrology</td>
                        <td>80</td> 
                        <td>4</td>
                        <td>5</td>
                        <td>80</td>
                      </tr>
                      <tr>
                        <td class="text">Cooking</td>
                        <td>80</td> 
                        <td>4</td>
                        <td>5</td>
                        <td>80</td>
                      </tr>
                    </table>
                  </div>
                </div>
            </section> <!-- / -->
            
          </div> <!-- flex-container -->

        </div> <!-- /container -->

      </div> <!-- dadshboard -->

    </div><!-- /main -->

    <footer>
      <div class="container footer-content">
        <p>© Pegma 2017</p>    
      </div>
    </footer>
  </div> <!-- /app -->

    <!-- <script src="js/main.js"></script> -->
</body>
</html>
