html {
	-webkit-box-sizing: border-box;
			box-sizing: border-box;
	font-family: 'Asap', sans-serif;
	line-height: 1.15;
	color: #222;
}

.container {
	margin: 0 auto;
	padding: 0 15px;
}

#app {
	display: flex;
	flex-direction: column;
}

.top-menu {
	background: #eee;
	padding-top: 15px;
	padding-bottom: 15px;
	flex: 1;
}

.main {
	flex: 1;
}

.header-content {
	display: flex;
	justify-content: space-between;
}

.header-content .logo {
	font-weight: bold;
	text-transform: uppercase;
}

footer {
	margin-top: 30px;
	background: #222;
	color: #fff;
	padding: 5px;
	text-align: center;
	flex: 1;
}

footer p {
	font-size: 70%;

}

.icon {
	color: #222;
	text-decoration: none;
}

main {

}

.nav-bar {
	padding: 0;
	margin: 10px 0;
	list-style: none;
	display: flex;
}

.nav-bar .nav-item {
	width: 100px;
	margin-right: 5px;
	padding: 10px;
	display: flex;
	flex-direction: column;
	cursor: pointer;
}

.nav-bar .nav-item:hover {
	background: #eee;
}

.nav-bar .nav-icon {
	width: 100%;
	font-size: 2em;
	text-align: center;
}

.nav-bar .nav-text {
	width: 100%;
	text-align: center;
	font-size: 0.8em;
}

.flex-container {
	display: flex;
	flex-direction: row;
	width: 100%;
}

.flex-child {
	width: calc(50% - 12px);
	margin-right: 20px;
}

.flex-child:last-child {
	margin-right: 0;
}

.stats {
	width: 100%;
	padding: 0;
	margin: 10px 0;
	list-style: none;
	display: flex;
}

.stats li {
	width: 25%;
	padding: 15px;
	color: #fff;
	margin-right: 20px;
	display: flex;
	justify-content: space-between;
}

.dashboard-teacher .stats li {
	width: 50%;
}

.stats li:last-child {
	margin-right: 0 !important;
}

.stats li .icon {
	font-size: 2.5em;
	color: #fff;
}

.stats li .info {
	text-align: right;
}

.stats li .quantity {
	font-size: 2em;
}

.stats li .type {
	font-size: 0.7em
}

.stats .stats-incomplete {
	background: #666;
}

.stats .stats-new {
	background: #666;
}

.stats .stats-complete {
	background: #666;
}

.stats .stats-rewards {
	background: #666;
}


.stats .stats-ready {
	background: #666;
}

.stats .stats-selfgraded {
	background: #666;
}

.panel {
	margin-top: 10px;
	width: 100%;
	border: 1px solid #eee;
}

.panel-header {
	background: #eee;
	padding: 5px;
	font-weight: bold;
}

.notifications-list {
	list-style: none;
	margin: 0;
	padding: 0;
	overflow-y: scroll;
	height: 150px;
	cursor: pointer;
}

.notifications-list .overdue {
	color: red;
}

.notifications-list li {
	padding: 5px;
	border-bottom: 1px solid #eee;
}

.notifications-list li:hover {
	background: #eee;
	padding-left: 15px;
}

.notifications-list li > .icon {
	float: right;
}

.dashboard .calendar {
	height: 350px;
	background: #666;
}

.dashboard .assignments .panel-header {
	display: flex;
	justify-content: space-between;
}

.dashboard .assignments .panel-header select {
	font-weight: normal;
	font-size: 80%;
}

.dashboard .assignments-list {
	padding: 0;
	margin: 0;
	list-style: none;
}

.assignments-list li {
	padding: 5px;
	border-bottom: 1px solid #eee;
	display: flex;
	justify-content: space-between;
	cursor: pointer;
}

.assignments-list li:hover {
	background: #eee;
}

.assignments-list li h3 {
	margin: 5px 0;
	/*outline: 1px solid green;*/
}

.assignments-list li .snippet {
	margin: 5px 0;
	font-style: italic;
	font-size: 80%;
	/*outline: 1px solid orange;*/
}

.assignments-list li .due {
	text-align: center;
	margin-right: 15px;
}

.assignments-list li h4 {
	margin: 5px 0;
	/*outline: 1px solid red;*/
	font-size: 60%;
}

.assignments-list li .date {
	margin: 5px 0;
	/*outline: 1px solid blue;*/
	font-size: 120%;
}

.list-pending,
.list-inprogress,
.list-completed,
.list-archived {
	width: 25%;
}

#student-tracker div.list-container {
	margin-left: 1%;
	margin-right: 1%;
}

#student-tracker div.list-container:first-child {
	margin-left: 2%;
}

#student-tracker div.list-container:last-child {
	margin-right: 2%;
}

